/*  from Stas  from Stas  from Stas  from Stas  */

.main>.container:after {
    top: 0;
    left: 0;
    height: 100%;
    background: url(../img/back_games.svg) repeat-y;
    background-size: 100%;
    content: "";
    position: absolute;
  z-index: -2;
    width: 100%;
}

/* задний фон для контента */
/* .ccontent {
    padding: 20px;
    border-radius: 5px;
    background: url(/img/backheader.jpg) repeat;
    border: 2px solid #0a0a0a;
    box-shadow: 0 1px 0 1px hsla(0,0%,40.4%,.1);
} */

/* вставки по краям */
/* .drift-slide a:after {
    content: url(/img/coob.png);
    position: absolute;
    z-index: 202;
    bottom: -200px;
    display: flex;
}
.drift-slide a:before {
    content: url(/img/chip.png);
    position: absolute;
    z-index: 202;
    display: flex;
    right: 0;
    bottom: -820px;
}
footer:before {
    content: url(/img/chip2.png);
    position: absolute;
    z-index: 202;
    display: flex;
  bottom: 40px;
    left: 0;
}
@media screen and (max-width: 1600px){
    .drift-slide a:after{
    display: none !important;
}
.drift-slide a:before {
    display: none !important;
}
footer:before {
   display: none !important;
}
} */


/* games__item-title */

/* общие */
.games__item-title {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;

    height: 185px;
}

.for-f3 a:hover {
    background-color: #1b1f2e;
}
.for-f3 a:hover .for-f1{
    opacity: 0.1;
}

/* название внизу games2*/
.games2 p {
    margin-bottom: 0px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* название внутри games*/
.games p {
    font-size: 13px;
    display: block;
    padding: 0 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    transition: .25s;
    color: #ffffff;
    max-width: 100%;
    margin: 30px 0;
    margin-top: 0;
}
.games__item-title.games {
    position: absolute !important;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    transition: .25s;
    pointer-events: none;
}
.for-f3:hover .games {
    opacity: 1 !important;
}
.for-f3 a.btn_games {
    height: 30px;
    width: 30%;
    padding: 0 25px;
    font-size: 12px;
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    font: 400 12px/1 open-sans-regular,sans-serif;
    text-indent: 1px;
    cursor: pointer;
    text-align: center;
    text-transform: none;

    width: 100%;
    padding: 0px;
    border-radius: 5px;
    filter: drop-shadow(0 0 1px #101010);
    background-image: linear-gradient(185deg, #00ae30 51%, #00ff00 100%);
    border: 0px solid #4a74d8;
}
.for-f3 a.btn_games {
    position: absolute;
    bottom: 0;
}
/* название внизу блок games3*/

.games3{
   color: #ffffff;
font-weight: 500;
filter: drop-shadow(0px 1px 0px #070b14);
    text-transform: capitalize;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* header menu */
@media screen and (min-width: 1000px){
header .vul2 a{
    line-height: 90px;
}
/*     header .vul2 a:hover{
    background-color: #303030;
} */
 header .vul2 {
    padding-left: 10px;
    padding-right: 10px;
}
}

 header .vul2 a:hover div, footer a:hover div {
    color: #fff !important;
}

/* footer */
.vul1 img{
	width: 174px;
	opacity: 0;
}
.vul1{
   margin-left: 0;
   margin-right: auto;
   display: flex;
   width: 120px;
}
.vul3 {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}
.vul3 img.mob {
    margin-left: auto;
    margin-right: auto;
}

.vul4 {
    display: none;
}
.sponsors {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.sponsors img{
    max-width: 100%;
}

/* drift-slide */
@media screen and (max-width: 500px){
.drift-slide .nemob {
    displaY: none!important;
    width: 160%;
    max-width: 200%;
    margin-left: -30%!important;
}
}
@media screen and (max-width: 1000px) and (min-width: 500px){
.drift-slide .nemob {
    displaY: block !important;
}
.drift-slide .mob {
    display: none !important;
}
}

.carousel-caption {
     position: absolute;
    right: auto;
    left: 50px;
    max-width: 35%;
    z-index: 2;
    margin-top: auto;
    margin-bottom: auto;
}
.carousel-caption .h2 {
    margin: 0 0 20px;
    color: #fff;
       font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
    -moz-text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.carousel-caption .men4 {
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    height: auto;
}

/*  from Stas  from Stas  from Stas  from Stas  */

 @font-face {
     font-family: 'm';
     src: url('/img/GothamPro.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'm';
     src: url('/img/GothamPro-Bold.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
}
 .fot-r {
     display: flex;
     justify-content: flex-end;
     margin-top: 20px;
     align-items: center;
     justify-content: center;
}

/* для кнопки играть */
.for-f a:before {
    content: 'Играть';
    position: absolute;
    opacity: 0;
    z-index: 333;
width: 120px;
height: 44px;
border-radius: 50px;
/* letter-spacing: 1px; */
line-height: 36px;
color: #ffffff;
font-weight: 500;
text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;

filter: drop-shadow(0px 4px 0px #3c7028) drop-shadow(0px 8px 4px rgba(83,161,52,0.19));
background-color: #62c23c;
}


/* для кнопки play */
/* .for-f a:before {
content: url(/img/play.png);
    position: absolute;
    opacity: 0;
    z-index: 333;
    width: 85px;
    height: 85px;
    filter: drop-shadow(0px 0px 20px #1573d2ba);
    display: flex;
    align-items: center;
    justify-content: center;
} */

 .drift-slide img{
     width:100%;
}
 .for-f a:hover:before{
     opacity:1;
}
.footer-bot {
    display: flex;
    width: 100%;
    padding-top: 0px;
    justify-content: safe;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .fot-l {
     width: 100%;
     display: flex;
     align-items: center;
     align-items: center;
     justify-content: center;
}
 .entry-footer,#wpadminbar{
     display:none;
}
 h2,h3,h4,h5,h6{
     padding-left:0px;
}
 p,li{
     line-height:1.6;
     padding-left:0px;
     color: #999db0;
     position:relative;
}
 ul{
     position:relative;
}
 wp:after,uwxl:after{
     position:absolute;
     left:0px;
     top:30px;
     content:' ';
     width: 20px;
     height: 5px;
     background-color: #d62c57;
}
 h1{
     color: #ffffff;
     font-size:30px !important;
     padding-left:0px;
     letter-spacing: 1px;
}
 h2,h3,h4,h5,h6,p strong{
     font-size:24px;
     display: block;
     margin-top:40px;
     letter-spacing: 1px;
     margin-bottom: 0px;
     position: relative;
     color: #ffffff;
     padding-left:0px;
     text-shadow: 0 1px 1px #030404;
}




 h2{
     margin-top:0px;
}
 body{
     margin:0px;
     font-family: 'm';
     letter-spacing: 1px;
     position: relative;
     background: #1b1f2e;
     overflow-x:hidden;
     /* background-image: url(/img/back.jpg); */
     /* background: url(/img/back.jpg) repeat; */
    background-size: initial;
}
 .polo{
     width:100%;
     height: 2px;
     background:#826f54;
     margin-bottom:40px;
}
 .fixor-end {
width: 165px;
    border-radius: 5px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: Pointer;
    margin: 50px auto;
    margin-top: 20px;
    background-image: none;
    height: 46px;

    text-transform: capitalize;
    font-size: 13px;

    color: #fff;
    font-weight: 500;
   border-radius: 50px;
filter: drop-shadow(0px 4px 0px #2c3552) drop-shadow(0px 8px 4px rgba(44,53,82,0.19));
background-color: #4d5a85;
}
 .fixor-end:hover{
     background-color: #717b9c;
}
 .dsdsc {
     height: 2px;
     background: #511089;
     width: 100%;
     margin-bottom: 40px;
}
 .fixor-end img{
     width: 20px!important;
     margin-right: 10px;
     transition:.3s;
}
 .fixor-end:hover img{
     transform: rotateX(180deg);
}
 .forkv{
     width: 100%;
     height: 76px;
     text-align: center;
     color: #4175ff;
     display: flex;
     align-items: center;
     background-color: #fff;
     justify-content: center;
     font-size: 18px;
     font-weight: bold;
     position: absolute;
     bottom: 20px;
     text-transform: uppercase;
     z-index:100;
}
 .trista{
     width: auto!important;
     display: block;
     margin: 0 auto;
     margin-top: 50px;
}
 .for-f a:hover .forkv{
     background:#4175ff;
     color:#fff
}
.for-f a:hover .for-f-0 {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 3;
background:#1c1c1cd9;
}
 .for-f1,.for-f2{
     height: 100%;
     background-size:100% 100%;
     cursor:pointer;
     width:100%;
}
 .casino4 span{
    display:flex;
    align-items:center;
}
 .for-right {
     padding-left: 20px;
     width: 25%;
     box-sizing: border-box;
}

.for-f3 {
    width: 18.5%;
    margin-bottom: 1.8%;
    border-radius: 10px;
    background: transparent;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
/* filter: drop-shadow(-0.105px 5.999px 0.5px rgba(12,11,10,0.25));
background-image: linear-gradient(0deg, #195d8f 0%, #438cba 100%); */
}
.for-f3:after {
border-radius: 5px;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    content: '';
    z-index: -1;
    filter: drop-shadow(0px 8px 8px #070b14);
    background-color: #161626;
    border: 1px solid #3f3f55;
}

 .for-f3 a {
     width: 100%;
    margin-bottom: 0%;
    height: 150px;
    background: transparent;
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.vul0{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;

}

/* header .vul2 div:hover:after {
 content: ' ';
    position: absolute;
    height: 3px;
    border-radius: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    display: block;
    top: 50px;
    background-color: #0ebb98;
} */
 header .vul2 div:hover{

     z-index: 2;
}
 .strange {
     top: 10px;
     z-index: 0!important;
     left: 5px;
     position: absolute;
     width: 220%!important;
     max-width: 220%;
}
 .igra {
     width: 148px;
     height: 50px;
     border-radius: 25px;
     border: 1px solid #f09235;
     z-index: 2;
     display: flex;
     align-items: center;
     font-size: 14px;
     color: #f09235;
     justify-content: center;
     box-sizing: border-box;
     margin: auto;
     margin-top: 20px;
}
 .for-f a:hover .igra{
     color:#fff;
     background:#f09235;
}

 .for-f1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    height: 100%;
    border-radius: 5px 5px 0 0;
}
 .for-f2{
     background: #2c1051;
     margin-bottom:0px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-size: 100% auto;
     margin-bottom: 0px;
     color: #fff;
     height: 80px;
}

 .for-f {
     display: flex;
     margin-top:40px;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
}
 .for-f-end {
     width: 141px;
     height: 39px;
     text-align: center;
     color: #fafbe5;
     display: flex;
     align-items: center;
     transition: .3s;
     justify-content: center;
     margin-right: 0px;
     cursor: pointer;
     margin-bottom: 20px;
     margin-left: auto;
     margin-top:30px;
}
 .men-right {
     margin-right: 0px!important;
}
 .for-f-end img{
    width:20px!important;
     margin-right:10px;
     transition:.3s;
}
 .for-f-end a{
     display: flex;
     align-items: center;
     justify-content: center;
}
 .for-f-end:hover img{
     transform:rotate(360deg);
}
 img{
     max-width:100%;
}
 .casino1 {
     font-size: 24px;
     color: #4175ff;
     display: flex;
     align-items: center;
}
 .casino3{
     font-size: 20px;
     color: #4175ff;
}
 .main1{
font-size: 33px;
     margin-top:30px;
     color: #111;
     font-weight: bold;
     position:relative;
}
 a{
     color:inherit;
     text-decoration:none;
}
 .main2{
     margin-top:20px;
     font-size: 18px;
     padding-right:40px;
     line-height:1.5;
     color: #8d8a9c;
}
 .main3{
     font-size: 20px;
     color: #0c314e;
     margin-top:30px;
     position:relative;
     font-weight: 700;
}
 header{
    height: 90px;
    background-color: #252535;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    /* background: url(/img/backheader.jpg) repeat; */
    z-index: 5;
 }


.drift-slide-text {
    color: #fff;
    font-size: 2.5vw;
    font-weight: 800;
    position: absolute;
    width: auto;
    display: inline-block;
    filter: drop-shadow(0 0 125px #131416);
    line-height: 2.5vw;
    margin: auto;
    margin-top: 9vw;
    margin-left: 18vw;
}

.drift-slide {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:0px;
    position: relative;

    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

/*    border-bottom: 30px solid #40c4c8;
-moz-border-image: url("../img/top-border.png") 30 repeat repeat;
-webkit-border-image: url("../img/top-border.png") 30 repeat repeat;
-o-border-image: url("../img/top-border.png") 30 repeat repeat;
border-image: url("../img/top-border.png") 30 repeat repeat; */
}

.drift-slide:after {
    bottom: -10px;
    height: 7px;
    background-image: url(../img/point.svg);
    background-repeat: repeat-x;
    background-size: contain;
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
}


 .men1 img {
  z-index: 3;
   max-height: 30px;
   opacity: 0;
}
 .men1{
     margin-left:0px!important;
}
 .men1 a{
     margin-top: 3px;
}
 .left-footer{
     margin-right: 40px;
}
 .left-footer img {
     margin-bottom: 103px;
     margin-right:30px;
     margin-top: 5px;
}
 footer{
   height: auto;
    margin-top: 50px;
    background: #252535;
    position: relative;
    font-size: 14px;
    display: -webkit-flex;
    display: flex;
    line-height: 24px;
    box-sizing: border-box;
    flex-direction: row-reverse;
    color: #aeaeae;
}
footer:before {
    top: 4px;
    height: 7px;
    background-image: url(../img/point.svg);
    background-repeat: repeat-x;
    background-size: contain;
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
}

 .f1 img{
     max-width:80%;
}
 .f3 img{
     margin-top:20px;
     margin-right:30px;
}
 .f2 {
     display: flex;
     align-items: center;
     color: #fafbe5;
     font-size: 14px;
}
 .footer-top {
     flex-direction: row;
     flex-wrap: nowrap;
     display: flex;
     height: 85px;
     border-radius: 42px;
     background-image: linear-gradient(0deg, #eac186 0%, #dfdad5 100%);
     width: 100%;
     align-items: center;
     justify-content: center;
     margin-bottom: 20px;
}
 .footer-bot a{
     padding:0px 10px;
     color: #fff;
}
 .vul2 a{
     margin:0px 0px;
}

 .footer-top div{
     margin-right:25px;
}
 footer a:hover{
     text-decoration:unset;
}
 footer .container {
     display: -webkit-flex;
     display: flex;
     flex-direction: row!important;
  justify-content: space-between;
     color: #fff;
     align-items: center;
     font-size: 16px;
     flex-wrap: wrap;
     margin-top: 25px;
    margin-bottom: 25px;
}
.vul2{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.vul4 a{
    color: #63666d!important;
    font-size: 14px;
    text-decoration:underline;
}

 footer .vul2 div {
    padding: 0px 0px;
}

 .container{
    width:1300px;
     margin:0 auto;
}
 header .container {
     display: -webkit-flex;
     ALIGN-ITEMs: baseline;
     display: flex;
     flex-direction: row;
     align-items: normal;
     height: 100%;
     justify-content: flex-end;
}
 header .container div{
     /* margin-left: auto; */
     display: -webkit-flex;
     ALIGN-ITEMs:center;
     display:flex;
     position: relative;
     margin-right: 0;
}
 .drift2{
     display: -webkit-flex;
     display:flex;
     flex-direction: row;
}
 .drift2 div{
     padding:0px 12px;
     color:#fff;
     position:relative;
     z-index:22 ;
}
 .men-right input{
     border:0px;
     width: 330px;
     margin-bottom:20px;
     font-size:16px;
     padding-left:20px;
     height: 59px;
     border-radius: 30px;
     background-color: #444249;
}
 .main-left {
     width: 100%;
     text-align: left;
     box-sizing: border-box;
}
 footer .polo {
     width: 100%;
     height: 2px;
     background: #826f54;
     margin-bottom: 0px;
}
 .men3,.men4{
     width: 151px;
     height: 46px;
     transition:.3s;
     justify-content: center;
    text-transform: capitalize;
    font-size: 13px;
    color: #fff;
    font-weight: 500;

    border-radius: 50px;
}
.men4{
filter: drop-shadow(0px 4px 0px #871628) drop-shadow(0px 8px 4px #161626);
background-color: #fe284a;
}
.men4:hover{
     background-color: #ff506c;
}
 .men3{
     margin-right: 15px!important;
border-radius: 0px;
    height: 30px;
    border-bottom: 1px solid #e7cd3a;
    text-decoration: none;
    background-color: transparent;
    color: #e7cd3a;
    cursor: pointer;
    width: auto !important;
    padding: 0px !important;
}
 .men3:hover{
     color:#fff;
}

 .drift2 {
     margin-right: 15px!important;
     margin-left: -50px!important;
}

 header .vul2 div{
       padding: 0px 10px;
}

 .vul2 div{
     color: #ffffff;
    font-size: 15px;
    line-height: 1.25;
     padding: 0px 5px;
}
 .main .container{
     display: -webkit-flex;
     display:flex;
     flex-direction: column;
}
 .main-right img {
     position: sticky;
     position: -webkit-sticky;
     top: 10px;
}
 .for-right img{
     width:100%;
}
 .for-right .right2{
     border: 1px solid #e8e8e8;
     padding:10px;
     position:relative;
     background:#fff;
     border-radius:10px;
}
 ul {
     padding: 0px;
     display: flex;
     flex-direction: column;
     margin-bottom: 0px;
}
 li{
     font-size: 16px;
     ALIGN-ITEMs: center;
     display: -webkit-flex;
     display: flex;
     padding:5px 0px;
     position:relative;
     list-style: none;
}
 li img{
     margin:0px 20px;
     width: 20px;
}
 .righter3 {
     text-align: center;
     height: 113px;
     border-radius: 10px;
     background-color: #fda700;
     font-size: 24px;
     font-style: italic;
     font-weight: bold;
     margin-top: 20px;
     box-sizing: border-box;
     color: #fff;
     background: url(/images/ss2.jpg) no-repeat;
     background-size:100% 100%;
     display: flex;
     align-items: center;
     box-sizing: border-box;
     padding: 25px;
}
 .righter31 {
     height: 64px;
     background-color: #092134;
     width: 90%;
     margin: 0 auto;
     margin-top: 0px;
     display: -webkit-flex;
     display: flex;
     font-size: 18px;
     flex-direction: column;
     line-height: 64px;
     align-items: center;
     padding: 0px 25px;
     border-radius: 10px;
     margin-left: 15px;
}
 .right2 input{
     height: 59px;
     border: 0px;
     width: 100%;
     background-color: #e8e8e8;
     font-size: 16px;
     padding-left: 30px;
     box-sizing: border-box;
     margin-bottom:20px;
     position:relative;
}
 .for-left img{
     width: 100%;
}
 .main-img{
     text-align:center;
     font-size: 16px;
     color: #8d8a9c;
     font-style: italic;
}
 .promo{
     height: 102px;
     background-color: #f2f2f4;
     margin-top:20px;
     display: -webkit-flex;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: stretch;
     align-content: center;
     align-items: center;
     width:100%;
}



 .promo1{
     font-size:22px;
     font-weight:bold;
     color: #0c314e;
     padding-left:30px;
}
 .promo1 span{
     color:#fda700
}
 .for-left {
     width: 100%;
     color: #fafbe5;
     text-align: left;
     line-height: 1.4;
     display: flex;
     flex-direction: row;
}
 .promo2{
     width: 253px;
     height: 57px;
     margin-right:20px;
     cursor:pointer;
     color: #fff;
     text-align: center;
     line-height:57px;
     border-radius: 5px;
     background-color: #313036;
}
 .main21{
     width: 253px;
     height: 63px;
     line-height: 65px;
     font-size:18px;
     margin-top: 5px;
     background-color: #fda700;
     border-radius:10px;
     text-align:center;
     color:#fff;
}
 .main2.flex {
     display: -webkit-flex;
     display: flex;
     JUSTIFY-CONTENT:space-between;
     padding-right:0px;
}
 .main20 {
     font-size: 18px;
     padding-right: 50px;
     color: #8d8a9c;
     line-height: 1.5;
     margin-top: 20px;
}
 .plashka {
     position: absolute;
     height: 67px;
     box-shadow: 0px 11px 38px rgba(49,48,54,0.22);
     background-color: rgba(84,84,90,0.8196078431372549);
     bottom: 277px;
     width: 100%;
     top: auto;
}
 .plashka *{
     cursor:pointer;
}
 .plashka .main21 {
     height: 53px;
     line-height: 55px;
}
 .plashka .container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     align-content: space-between;
}
 .mob{
     display:none!important;
}
 @media screen and (max-width: 1400px) and (min-width: 1000px) {
     .for-f a:hover .for-f2 {
         transform: translateY(-140px);
    }
     .for-f a {
         font-size: 14px;
    }
footer .vul2 div {
    padding: 0px 0px;
}

.vul3{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.vul2 a {
    margin: 0px 0px;
    padding:0px 10px;
}
     .f2 img {
         margin-right: 35px;
         width: 50%;
    }
     .footer-top {
         font-size: 12px;
    }

     li img {
         margin: 0px 20px;
         width: 16px;
         margin-left: 5px;
    }
     .for-left{
         width: 100%;
    }
     .for-right {
         padding-left: 0px;
         width: 30%;
    }
     .drift2 {
         margin-right: 10px!important;
    }
     header .container div{
         white-space:nowrap;
    }

    .vul2 div{
        font-size:14px;
    }

     .for-left img {
         width: 97%;
    }
     .promo {
         width: 97%;
    }
     .left-footer img {
         margin-bottom: 110px;
         margin-top: 5px;
    }
     .men3 {
         padding:0px 10px;
    }
     .men4 {
         padding:0px 10px;
    }
     .men3 {
         width: 104px;
    }
     .container {
        width: 1050px;
    }
     .drift-slide {
       max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
}


 @media screen and (max-width: 1000px) {

   body,html{
       overflow-x:hidden
   }


 .vul0    {
    width: 100%;
    display: none;
    text-align: center;
    margin-top: 0px;
}


  .for-f a:before {
       width: 90px;
    height: 30px;
    top: auto;
    font-size: 10px;
}
     .for-f a:hover .for-f2 {
         transform: translateY(-50px);
         font-size: 14px;
    }
     .mob{
         display:block!important;
    }
     .for-f {
         width: 90vw;
    }
     .trista {
         width: 90vw!important;
         display: block;
         margin: 0 auto;
         margin-top: 30px;
         margin-bottom:30px;
    }
     .men1 img {
         width: 100%;
         z-index: 3;
         margin-bottom: 0px;
    }
     .nemob{
         display:none!important;
    }
     .container{
         width:100%;
         padding:0px 5vw;
    }
     .for-right,.plashka,.left-footer span{
         display:none;
    }


.drift-slide-text {
    color: #fff;
    font-size: 5vw;
    font-weight: 800;
    position: absolute;
    width: 60vw;
    display: inline-block;
    filter: drop-shadow(0 0 125px #131416);
    line-height: 1.2;
    margin: auto;
    margin-top: 15vw;
    margin-left: 18vw;
}

     footer .container {
         display: -webkit-flex;
         display: flex;
         flex-direction: column;
         margin-top: 0;
    margin-bottom: 0;
    }
     .left-footer img {
         margin-bottom: 0px;
         margin-top: 0px;
    }
     .right-footer{
         font-size:12px;
         margin-top:10px
    }
     .main .container {
         padding: 0px 5vw;
         display: -webkit-flex;
         box-sizing: border-box;
         display: flex;
         flex-direction: column;
         align-items: baseline;
    }
     .f4 {
         width: 145px;
    }

    .drift-slide img {
    width: 100vw;
}

     .main1 {
         font-size: 22px;
         position: relative;
    }
     .main3 {
         font-size: 16px;
    }
     .main2 {
         margin-top: 20px;
         font-size: 14px;
         padding-right: 0px;
         line-height: 1.5;
         color: #8d8a9c;
    }
     .main20 {
         padding-right: 0px;
    }
     img{
        max-width:90vw;
    }
     .main21 {
         width: 100%;
         height: 63px;
         line-height: 63px;
         font-size: 18px;
         margin-top: 5px;
         background-color: #092134;
         text-align: center;
         color: #fff;
         margin-top: 20px;
    }
     header{
         display:none;
    }
     .main2.flex {
         display: -webkit-flex;
         display: flex;
         padding-right: 0px;
         flex-direction: column;
    }
     .promo2{
         width: 154px;
         height: 47px;
         line-height: 47px;
         border: 1px solid #fda700;
    }
     .promo1 span {
         color: #fda700;
         display: block;
    }
     .promo1 {
         font-size: 16px;
         font-weight: bold;
         color: #0c314e;
         padding-left: 10px;
    }
     .drift-slide {
             margin-bottom: 30px;
    }

     .right-footer:after{
         content:'© 2019 Все права защищены.';
         display:block;
         margin-top:20px;
    }
     .mob{
         display:block;
    }
     header {
         height: auto;
         z-index: 100000;
         left: 0px;
         right: 0px;
         height: auto;
    }
     .main-right{
         display:none;
    }
     .pros{
         display:none;
    }
     header .container {
         flex-direction: row;
         padding: 0px 5vw;
         flex-wrap: wrap;
         box-sizing: border-box;
         padding-top:10px;
    }
     .footer-top {
         width: 100vw;
         flex-direction: row;
         flex-wrap: nowrap;
         display: flex;
         font-size: 14px;
         padding-left: 0%;
         box-sizing: border-box;
         margin-right: 0px;
         border-radius: 0px;
    }
     .footer-top div {
         margin-right: 25px;
         margin-top: 0px;
         margin-bottom: 5px;
    }
     header{
         margin:0px;
    }
     .f1{
         text-align:center
    }
     .clss div{
         width:50%;
    }
     .fixor-end {
         margin-top: 20px;
    }
    /*  .drift-slide .nemob {
        displaY: none!important;
        width: 160%;
        max-width: 200%;
        margin-left: -30%!important;
        } */
     .polo{
         display:none;
    }
     footer .polo{
         display:block;
         margin-top:15px;
         margin-bottom:25px;
    }
     .fot-r {
         width: 100%;
         display: flex;
         flex-direction: column;
          align-items: baseline;
         justify-content: end;
         padding-left: 0px;
         box-sizing: border-box;
         margin-top: 10px;
         margin-bottom:20px;
    }
     .igra{
         width: 100px;
         height: 28px;
         border-radius: 19px;
         box-shadow: 0 0 18px rgba(240,146,53,0.38);
         font-size: 10px;
         margin-top: 0px;
    }
     .fot-l {
         width: 100%;
         color: #99a39d;
         font-size: 13px;
         margin-top: 20px;
         justify-content: normal;
    }
     .footer-bot a {
         padding: 0px 4vw;
         margin-bottom: 10px;
         padding-left: 0px;
    }
     .footer-bot {
         display: flex;
         width: 100%;
         flex-wrap: wrap;
         justify-content: left;
    }
     .f2 img {
         margin-right: 0px;
         width: 100%;
         margin-left: 0px;
         margin-bottom: 15px;
    }
     .f2 {
         margin-right: 0px;
         font-size:14px;
         margin-top: 10px;
         display: flex;
         flex-direction: column;
         align-items: baseline;
    }
     .f3 img {
         margin-top: 20px;
         margin-right: 0px;
    }
     footer {
         height: auto;
         margin-top: 20px;
    }

     .for-f1, .for-f2 {
         height: 100px;
    }
     footer .container {
         justify-content: center;
         flex-wrap: wrap;
             align-items: center!important;
    }
  footer  .vul2 a{
        padding:5px 0px!important;
        display: inline-block;
    }
    .footer-bot{
            padding: 5vw 5vw!important;
    }

  .vul3 .mob{
        max-width: 100%;
    }

    .vul3{
        margin:35px 0px;
        margin-bottom: 0;
    }
     img {
         max-width: 100vw;
    }
     .forkv {
         width: 101%;
    }
     .men1 {
         margin-left: 0px!important;
         width: 30%;
         margin-right: auto !important;

        height: auto;
    }
    .men1 a {
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 0;
}
     .menn {
         display: flex;
         width: auto;
         flex-direction: row;
         justify-content: space-between;
    }
     .drift2 {
         margin-right: 0px!important;
         flex-direction: column;
         width: 100%;
         background:#002f87;
         align-items: left!important;
    }
     header .container .drift2 {
         ALIGN-ITEMs: baseline;
         padding-top: 20px;
    }
     header .container {
         height: 120px;
    }
      header .nd2 {
         border-top: 1px solid #ffffff1f;
         height: auto !important;
    }


     .men5{
         display: flex;
         align-items: end!important;
         width: 10vw;
    }
     .men5 img {
         width: 46px;
         height: 36px;
         margin-left: 2vw;
    }
     .clss {
         display: flex;
         align-items: center;
         justify-content: space-around;
         font-size: 10px;
         align-items: center;
         padding: 0px 5%;
         margin-bottom:10px;
    }
     header .drift2 div:hover:before {
         content: ' ';
         position: absolute;
         height: 100%;
         pointer-events: none;
         border-top:0px solid;
         background-color: #c11832;
         border-left: 5px solid #f7111a;
         border-radius: 0px;
         left: -5vw;
         width: 100vw;
         top: 0px;
         z-index: -2;
    }
     .drift2 div {
         padding: 10px 4vw;
         width: 90vw;
         padding-left: 0px;
    }

    header .vul2 div:after{
        display:none!important;
    }
   header .vul2 a {
    margin: 0px 0px;
    width: 100%;
    padding: 0px;
   }

header .container div.vul2 {
    position: absolute!important;
    width: 100%;
    top: 120px;
    height: auto;
    z-index: 33;
        background-color: #252535;
    display: flex!important;
    flex-direction: column;
    ALIGN-ITEMs: left!important;
    justify-content: space-around;
    padding-top: 20px;
     padding-bottom: 20px;
    transition:.2s;
    transform: translateX(100%);
    right:0px;
    opacity: 0;
    border-top: 1px solid #ffffff1f;
}

header .container div.vul2.acriv {
    transform: translateX(0%);
    opacity: 100;

}
 header .container {
    padding-top: 20px;
    padding-bottom: 20px;
}
    .men5 {
    display: flex;
    align-items: end!important;
    width: auto;
    margin-right: 0px!important;
}
    .games__item-title p {
    font-size: 10px;
}

  .for-f a {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    margin-bottom: 2%;
    cursor: pointer;
    position: relative;
    margin: 0px 1%;
    font-size: 8px;
    }
     .for-f2 {
         height: 30px;
    }
     .for-f1 {
    height: 110px;
    }
     .for-f-end {
         margin: 20px auto;
    }
     .for-f a .for-f-0 {
         position: absolute;
         content: " ";
         width: 100%;
         z-index: 1;
         height: 100px;
    }
     h1:before, h2:before, h3:before, h4:before, h5:before, h6:before, strong:before{
        display:none;
    }
     strong, h1 {
         padding-left: 0px;
    }

     .vul2 div {
         padding: 0px 0px;
    }
    header .vul2 div {
    padding: 10px 25px;
}
   .men3, .men4 {
         padding: 0px 1vw;
         font-size: 16px;
         width: auto;
    }
     .men4 {
   margin-right: 0 !important;
    }

    .carousel-caption .h2 {
    font-size: 3vw;
    margin: 0 0 0 0px;
    }
    .carousel-caption .men4 {
  display: none;
}

    .but {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
    .but1 {
    width: 40%;
}
    .but2 {
    width: 60%;
}

     .men1 img {
         width: 100%;
         z-index: 3;
         margin-top: 0px;
         display: block;
         width: auto;
         max-height: 25px;
    }
     header .vul2 div:hover:before {
         top:12px;
         display:none;
    }
     p strong{
         margin-top:0px;
    }
     h2 {
         margin-top: 20px;
    }
}
 @media screen and (max-width: 1000px) {


   .for-f .for-f3 {
    width: 48%;
    margin-bottom: 20px;
    font-size: 8px;
}
.games__item-title {
    height: 147px;
}


     h2, h3, h4, h5, p strong{
         padding-left:0px;
     }

     .nemob{
         display:none!important;
    }
     .vul2 a {
         margin: 0px 10px;
         white-space: nowrap;
         padding: 25px 0px;
    }
     .vul2{
         overflow: inherit;
         -webkit-overflow-scrolling:touch;
    margin-left: 0;
    width: 100%;
    text-align: center;
    }
     h1:before, h2:before, h3:before, h4:before, h5:before, h6:before,p strong:before{
        display:none;
    }
     p, li,h2, h3, h4, h5, h6,h1{
        padding-left:0px;
    }
     .main-left{
         width:100%;
         padding-right: 0px;
    }
     .for-left{
         width:100%;
    }
     p, li {
         line-height: 1.6;
         font-size: 14px;
    }
     header .vul2 div:hover:after {
         display:none;
    }
     h2, h3, h4, h5, p strong,h6{
         font-size:18px;
    }
}


 @media screen and (max-width: 320px) {
     .men4 {
    font-size: 4.5vw;
}
     .men3 {
    font-size: 4.5vw;
}
 }